extends layout

block content

  if user
    h1= user.username
    p Welcome #{user.username}
    if(allFolder)
      ul
        each folder in allFolder
          a(href=`/folders/${folder.id}`)=folder.title
    if(message)
      p ${errors}
    a(href='/users/log-out') Logout
    button(class='open-form') New Folder
    dialog(class='modal' id='modal')
      h1 New Folder
      form(action='/folders/create' method='POST')
          label(for='title') Folder Name:
          input(type='text' name='title')
          input(type='submit', value='Create Folder')
  else 
    h1="Login"
    | Don't have an account? 
    a(href='/users/sign-up') Sign up
    form(action='/users/log-in' method="POST")
      label(for='username') Username:
      input(name='username', value='', type='text')
      label(for='password') Password:
      input(name='password', value='', type='password') 
      input(type='submit', value='Submit')

  script.
      const modal = document.querySelector('#modal');
    const openModal = document.querySelector('.open-form');
    const closeModal = document.querySelector('.close-button');

    openModal.addEventListener('click', () => {
      modal.showModal()
    })
    closeModal.addEventListener('click', () => {
      modal.close()
    })